{% extends "layouts/base.html" %}

{% block title %} Settings | Property Details {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="nav-wrapper position-relative">
        <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
            <li class="nav-item flex-grow-0">
                <a class="nav-link mb-sm-3 mb-md-0 {% if '/property-profile' in request.path %} active {% endif %}"
                   href="{% url 'settings_property_details_property_profile' %}">Property Profile</a>
            </li>
            <li class="nav-item flex-grow-0">
                <a class="nav-link mb-sm-3 mb-md-0 {% if '/property-amenities' in request.path %} active {% endif %}"
                   href="{% url 'settings_hotel_amenity_index' %}">Property Amenities</a>
            </li>
            <li class="nav-item flex-grow-0">
                <a class="nav-link mb-sm-3 mb-md-0 {% if '/room-types' in request.path %} active {% endif %}"
                   href="{% url 'settings_room_type' %}">Room Types</a>
            </li>
        </ul>
    </div>

    {% block property_details_content %}
    {% endblock property_details_content %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
