{% load crispy_forms_tags %}

<form method="post">
    {% csrf_token %}

    <div class="modal-header">
        <h5 class="modal-title">Update Custom Payment Method</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
        {% crispy form %}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Update</button>
    </div>

</form>