{% extends "layouts/base-fullscreen.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %} Change Password {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center form-bg-image">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                        {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <h1 class="mb-0 h3">
                                {% if token_fail %}{% trans "Bad Token" %}{% else %}
                                    {% trans "Change Password" %}{% endif %}
                            </h1>
                        </div>
                        {% if token_fail %}
                            {% url 'account_reset_password' as passwd_reset_url %}
                            <div class="alert alert-danger" role="alert">
                                {% blocktrans %}The password reset link was invalid, possibly because it has already
                                    been
                                    used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>
                                    .{% endblocktrans %}
                            </div>
                        {% else %}
                            <form method="POST" action="{{ action_url }}">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="d-grid mt-4">
                                    <input type="submit" name="action" class="btn btn-gray-800" value="Change password" />
                                </div>
                            </form>
                        {% endif %}
                        <br/>
                        <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="fw-normal">
                                    &copy; HotelHeroic
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}



