{% extends "layouts/base.html" %}

{% block title %} Settings | Property Configuration {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="nav-wrapper position-relative">
        <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
            <li class="nav-item flex-grow-0">
                <a class="nav-link mb-sm-3 mb-md-0 {% if '/system-settings' in request.path %} active {% endif %}"
                   href="{% url 'settings_property_configuration_general_settings' %}">System Settings</a>
            </li>
            <li class="nav-item flex-grow-0">
                <button class="nav-link mb-sm-3 mb-md-0 {% if '/policies' in request.path %} active {% endif %}" type="button" id="policiesMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Policies
                </button>
                <ul class="dropdown-menu" aria-labelledby="policiesMenuButton">
                    <li><a class="dropdown-item" href="{% url 'settings_property_configuration_deposit_policy_edit' %}">Deposit Policy</a></li>
                </ul>
            </li>
            <li class="nav-item flex-grow-0">
                <a class="nav-link mb-sm-3 mb-md-0 {% if '/taxes-and-fees' in request.path %} active {% endif %}"
                   href="{% url 'settings_taxes_and_fees' %}">Taxes And Fees</a>
            </li>
            <li class="nav-item flex-grow-0">
                <a class="nav-link mb-sm-3 mb-md-0 {% if '/reservation-sources' in request.path %} active {% endif %}"
                   href="{% url 'settings_reservation_sources' %}">Reservation Sources</a>
            </li>
            <li class="nav-item flex-grow-0">
                <a class="nav-link mb-sm-3 mb-md-0 {% if '/item-categories' in request.path %} active {% endif %}"
                   href="{% url 'settings_item_category_index' %}">Item Categories</a>
            </li>
            <li class="nav-item flex-grow-0">
                <a class="nav-link mb-sm-3 mb-md-0 {% if '/items' in request.path %} active {% endif %}"
                   href="{% url 'settings_item_index' %}">Items</a>
            </li>
            <li class="nav-item flex-grow-0">
                <a class="nav-link mb-sm-3 mb-md-0 {% if '/custom-fields' in request.path %} active {% endif %}"
                   href="{% url 'settings_custom_field_index' %}">Custom Fields</a>
            </li>
            <li class="nav-item flex-grow-0">
                <a class="nav-link mb-sm-3 mb-md-0 {% if '/guest-statuses' in request.path %} active {% endif %}"
                   href="{% url 'settings_guest_status_index' %}">Guest Statuses</a>
            </li>
            <li class="nav-item flex-grow-0">
                <a class="nav-link mb-sm-3 mb-md-0 {% if '/add-ons' in request.path %} active {% endif %}"
                   href="{% url 'settings_addon_index' %}">Add Ons</a>
            </li>
        </ul>
    </div>

    {% block property_configuration_content %}
    {% endblock property_configuration_content %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
