{% extends "home/rate/interval/_base_interval.html" %}
{% load crispy_forms_tags %}

{% block title %} Rates And Availabilities - Base Rate {% endblock %}

{% block interval_content %}
    <form method="post">
        {% csrf_token %}
        {{ form.room_type.as_hidden }}
        {{ form.interval_name|as_crispy_field }}
        {{ form.start_date|as_crispy_field }}
        {{ form.end_date|as_crispy_field }}
        {{ form.min_length_of_stay|as_crispy_field }}
        {{ form.max_length_of_stay|as_crispy_field }}
        {{ form.closed_to_arrival|as_crispy_field }}
        {{ form.closed_to_departure|as_crispy_field }}
        {{ form.additional_adult_fee|as_crispy_field }}
        {{ form.additional_child_fee|as_crispy_field }}
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th></th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Enabled</td>
                <td>{{ form.enable_monday_price|as_crispy_field }}</td>
                <td>{{ form.enable_tuesday_price|as_crispy_field }}</td>
                <td>{{ form.enable_wednesday_price|as_crispy_field }}</td>
                <td>{{ form.enable_thursday_price|as_crispy_field }}</td>
                <td>{{ form.enable_friday_price|as_crispy_field }}</td>
                <td>{{ form.enable_saturday_price|as_crispy_field }}</td>
                <td>{{ form.enable_sunday_price|as_crispy_field }}</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>{{ form.monday_price|as_crispy_field }}</td>
                <td>{{ form.tuesday_price|as_crispy_field }}</td>
                <td>{{ form.wednesday_price|as_crispy_field }}</td>
                <td>{{ form.thursday_price|as_crispy_field }}</td>
                <td>{{ form.friday_price|as_crispy_field }}</td>
                <td>{{ form.saturday_price|as_crispy_field }}</td>
                <td>{{ form.sunday_price|as_crispy_field }}</td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-secondary" onclick="window.history.back();">Close</button>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
{% endblock interval_content %}